<div class="col-12">
  <div class="row">
    <div class="col-12 text-left pt-2">
      <h1 class="mb-3">Projects</h1>
      <hr>
    </div>
    <div class="col-12 text-left mb-3">
      <div class="cursor-pointer" (click)="app.childNavigate('home', 'home-router', 'project-form')">
        <span class="add-project-button">Add project</span>
        <i class="far fa-plus-square ml-3"></i>
      </div>
    </div>
  </div>
  <table class="table">
    <thead class="bg-steelblue text-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="width: 40%;">Project Name</th>
        <th scope="col" style="width: 40%">Details</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Amazing lorem ipsum </td>
        <td>Ott 235o</td>
        <td>
          <span class="icon mr-2">
            <i class="fas fa-pen-square"></i>
          </span>

          <span class="icon">
            <i class="fas fa-minus-square"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Lipsum ipsum</td>
        <td>Thornton</td>
        <td>
          <span class="icon mr-2">
            <i class="fas fa-pen-square"></i>
          </span>

          <span class="icon">
            <i class="fas fa-minus-square"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Lorem A</td>
        <td>the Bird</td>
        <td>
          <span class="icon mr-2">
            <i class="fas fa-pen-square"></i>
          </span>

          <span class="icon">
            <i class="fas fa-minus-square"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Larry is </td>
        <td>the Bird</td>
        <td>
          <span class="icon mr-2">
            <i class="fas fa-pen-square"></i>
          </span>

          <span class="icon">
            <i class="fas fa-minus-square"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Larry Larry Larry Larry</td>
        <td>the Bird</td>
        <td>
          <span class="icon mr-2">
            <i class="fas fa-pen-square"></i>
          </span>

          <span class="icon">
            <i class="fas fa-minus-square"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Larry Bird Bird</td>
        <td>the Bird</td>
        <td>
          <span class="icon mr-2">
            <i class="fas fa-pen-square"></i>
          </span>

          <span class="icon">
            <i class="fas fa-minus-square"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Bird BirdBirdLarry</td>
        <td>Birdthe Bird</td>
        <td>
          <span class="icon mr-2">
            <i class="fas fa-pen-square"></i>
          </span>

          <span class="icon">
            <i class="fas fa-minus-square"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
