<div class="col-12">
  <div class="row">
    <div class="col-12 text-left pt-2">
      <h1 class="mb-3">Projects</h1>
      <hr>
    </div>
    <div class="col-12 text-left mb-3">
      <div class="cursor-pointer" (click)="app.childNavigate('home', 'home-router', 'project-form')">
        <span class="add-project-button">Add project</span>
        <i class="far fa-plus-square ml-3"></i>
      </div>
    </div>
  </div>
  <table class="table">
    <thead class="bg-steelblue text-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="width: 20%;">Title</th>
        <th scope="col" style="width: 30%">Description</th>
        <th scope="col" style="width: 10%">Start date</th>
        <th scope="col" style="width: 10%">End date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{project?.ProjectTitle}}</td>
        <td>{{project?.ProjectDesc}}</td>
        <td>{{project?.ProjectStartDate | date: 'dd.MM.yyyy'}}</td>
        <td>{{project?.ProjectEndDate | date: 'dd.MM.yyyy'}}</td>

        <td>
          <span class="icon mr-2" (click)="upsertProject(project)">
            <i class="fas fa-pen-square"></i>
          </span>

          <span class="icon" (click)="deleteProject(project)">
            <i class="fas fa-minus-square"></i>
          </span>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>
