<div class="col-12 text-center pt-5">
  <h1 cla>Search</h1>
  <hr>
</div>

<div class="col-md-12 col-lg-6 col-lg-offset-6 mx-auto">
  <form class="p-2" (submit)="searchProject()">
    <div class="input-group">
      <input [(ngModel)]="project.ProjectID" name="projectId" type="number" class="unstyled-input mb-2" placeholder="Project ID">
      <input [(ngModel)]="project.ObjectiveID" name="objectiveId" type="number" class="unstyled-input mb-2" placeholder="Objective ID">
      <input [(ngModel)]="project.ProjectTitle" name="title" type="text" class="unstyled-input mb-2" placeholder="Project Title">
      <input [(ngModel)]="project.ProjectDesc" name="description" type="text" class="unstyled-input mb-2" placeholder="Project Description">
      <input [(ngModel)]="project.ProjectStatusID" name="projectStatusId" type="number" class="unstyled-input mb-2" placeholder="Project Status ID">
      <input [(ngModel)]="project.CreateBy" name="createBy" type="number" class="unstyled-input mb-2" placeholder="Create By">
      <input [(ngModel)]="project.UpdateBy" name="updateBy" type="number" class="unstyled-input mb-2" placeholder="Update By">
      <input [(ngModel)]="project.SortOrder" name="sortOrder" type="number" class="unstyled-input mb-2" placeholder="Sort Order">
      <input [(ngModel)]="project.OrgID" name="orgId" type="number" class="unstyled-input mb-2" placeholder="Org ID">
    </div>
    <hr>
    <label for="start_date">Start date</label>
    <div class="input-group">
      <input class="form-control" id="start_date" placeholder="Project Start Date" name="dstart" [(ngModel)]="fromDate" ngbDatepicker #start="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="start.toggle()" type="button">
          <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
    </div>
    <hr>
    <label for="end_date">End date</label>
    <div class="input-group">
      <input class="form-control" id="end_date" placeholder="Project End Date" name="dend" [(ngModel)]="toDate" ngbDatepicker #end="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="end.toggle()" type="button">
          <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
    </div>

    <br />
    <div class="buttons text-right">
      <button type="submit" class="btn btn-search" >Search</button>
    </div>
  </form>

</div>