<div class="col-12 text-center pt-5">
    <h1 cla>Search</h1>
    <hr>
  </div>
  
  <div class="col-md-12 col-lg-6 col-lg-offset-6 mx-auto">
    <form class="p-2" (submit)="saveProject()">
      
      <div class="input-group">
        <input [(ngModel)]="ProjectTitle" name="title" type="text" class="unstyled-input mb-2" placeholder="Project Title">
        <input [(ngModel)]="ProjectDesc" name="description" type="text" class="unstyled-input mb-2" placeholder="Project Description">
      </div>
      
      <div class="input-group">
        <input class="form-control" placeholder="Project Start Date" name="dstart" [(ngModel)]="fromDate" ngbDatepicker #start="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="start.toggle()" type="button">
            <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
  
      <div class="input-group">
        <input class="form-control" placeholder="Project End Date" name="dend" [(ngModel)]="toDate" ngbDatepicker #end="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="end.toggle()" type="button">
            <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
      <br />
      <div class="buttons text-right">
        <button type="submit" class="btn btn-search" >Search</button>
      </div>
    </form>
  
  </div>
  